Firmware/Objects
Firmware/Listings
Firmware-DualMode/Objects
Firmware-DualMode/Listings
MainPCB/History
MainPCB/__Previews
SideKeyPCB/History
SideKeyPCB/__Previews
*.uvproj
*.uvopt
*.uvgui
*.redstoner_35